*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    background: url(../chatgpt/img/Fondo\ hd.jpg);
    background-size: cover;
    background-attachment: fixed;
}